{% extends 'Course.html' %}

{% block head %}
<title>About N.Maker</title>
<style>
      body{
        {{bg}};
        background-size: auto;
      }
</style>
{% endblock %}

{% block body %}
<!------------------------Card Border--------------------------->

<!-------------------------------------------------------------->
<br>
<div class="row">
  <div class="col-sm-12">
<div class="card border-info mb-3" style="max-width: 50rem;">
	<div class="card-header"><h1>Duty</h1></div>
	<div class="card-body">
	<h4 style="color: black">Hong Kong modeler</h4>
	<p style="color: black">I am not the one who created it, but the beautiful model that the guest likes.</p>
	<p style="color: black">If it is a gyro, we are just the line that makes it rotate.</p>
	<p style="color: black">This is the belief of N.Maker.</p>
	</div>
</div>
</div>
</div>
<br>
<!------------------------Video--------------------------------->

<!-------------------------------------------------------------->
<div class="row">
  <div class="col-sm-12">
<iframe style="float: right;" width="800" height="450" src="https://www.youtube.com/embed/MYREhK8X4V4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
</div>
</div>
<br>
<!------------------------Card Border--------------------------->

<!-------------------------------------------------------------->
<div class="row">
  <div class="col-sm-12">
<div class="card border-info mb-3" style="max-width: 50rem;">
	<div class="card-header"><h1>Achievement</h1></div>
	<div class="card-body">
	<h4 style="color: black">Gunpla Builder World Cup 2017 Hong Kong Open Course 2nd Runner Up</h4>
	<h4 style="color: black">Gunpla Builder World Cup 2017 Hong Kong IronBlood Orphans Special Reward</h4>
	</div>
</div>
</div>
</div>
<br>
<!------------------------Video--------------------------------->

<!-------------------------------------------------------------->
<div class="row">
  <div class="col-sm-12">
  	<iframe style="float: right;" width="800" height="450" src="https://www.youtube.com/embed/CmajMim_Gec" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  	</iframe>
  </div>
</div>
{% endblock %}