<!DOCTYPE html>
<html>
<head>
	<title>AdminPage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> 
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
    body{
      background-color: #8e9299;
      text-align: center;
    }

		#table{margin: auto;
			width: 80%;
			border: 1px solid black;
			text-align: center;

		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">&nbsp;N.Maker Studio&nbsp;</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  	</button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
      		<li class="nav-item">
        		<a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
      		</li>
      		<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">About</a>
          <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('About') }}">N.Maker</a>

        <a class="dropdown-item" href="{{ url_for('Detail') }}">Course Detail</a>
          </div>
          </li>
          <li class="nav-item">
            {% if session['logged_in'] %}
            <a class="nav-link" href="{{ url_for('oem') }}">OEM</a>
            {% endif %}
            {% if not session['logged_in'] %}
            <a class="nav-link" href="{{ url_for('login') }}">OEM</a>
            {% endif %}
          </li>
          <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Course</a>
      <div class="dropdown-menu">
          {% if not session['logged_in'] %}
        <a class="dropdown-item" href="{{ url_for('login') }}">Junior</a>
          {% endif %}
          
          {% if session['logged_in'] %}
        <a class="dropdown-item" href="{{ url_for('junior') }}">Junior</a>
          {% endif %}

          {% if not session['logged_in'] %}
        <a class="dropdown-item" href="{{ url_for('login') }}">Senior</a>
          {% endif %}

          {% if session['logged_in'] %}
        <a class="dropdown-item" href="{{ url_for('senior') }}">Senior</a>
          {% endif %}
      </div>
    </li>
    	</ul>
        <ul class="nav">
            <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle Hello" data-toggle="dropdown" role="button"><font color="#dce0e8">Hello {{username}}</font></a>
                <div class="dropdown-menu">
                    {% if session['logged_in'] %}
                    {% if session['admin'] %}
                    <a class="dropdown-item HelloItem" href="/AdminPage">Edit</a>
                    <a class="dropdown-item HelloItem" href="/Logout">Logout</a>
                    {% endif %}
                    {% endif %}
            </li>
        </ul>
    </div>
</nav>
	<h1 style="text-align: center;">
		AdminPage
	</h1>

<!------------------------Upload Image--------------------------->

<!--------------------------------------------------------------->
	<button data-toggle="modal" data-target="#m" class="btn btn-primary">Upload Image</button>
	<div class="modal" id="m">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/uploadi" method="POST" enctype="multipart/form-data">
        	<div class="form-group">
      <label for="new" style="color: white">Image Name:</label>
      <input type="text" class="form-control" placeholder="Enter New Name" id="new" name="newname">
  	</div>
  	<div class="form-group">
      <label for="newi" style="color: white">New Image:</label>
      <input type="file" class="form-control" id="newi" name="uploadimage">
  	</div>
  	<button type="submit" class="btn btn-primary">Confirm</button>
    </div>
      </div>
    </div>
  </div>
</div>

<!------------------------Table--------------------------->

<!-------------------------------------------------------->
<br>
<br>
  <h5 style="text-align: center;">Junior Course</h5>
    <table id="table">
    <tr>
      <th style="width: 10%">ID</th>
      <th style="width: 10%">Name</th>
      <th style="width: 10%">Participant</th>
      <th style="width: 10%">Phone</th>
      <th style="width: 10%">Email</th>
      <th style="width: 10%">Time</th>
      <th style="width: 10%">Option</th>
      <th style="width: 10%">Payment</th>
    </tr>
    </table>
	{% if line %}
  <table id="table">
		{% for i in line %}
		<tr>
		<td style="width: 10%">{{ i.id }}</td>
		<td style="width: 10%">{{ i.Name }}</td>
    <td style="width: 10%">{{ i.Part }}</td>
		<td style="width: 10%">{{ i.Phone }}</td>
		<td style="width: 10%">{{ i.Email }}</td>
		<td style="width: 10%">{{ i.Time }}</td>
		<td style="width: 10%">{{ i.Option }}</td>
		<td style="width: 10%">{{ i.Payment }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
  <br>
  <h5 style="text-align: center;">Senior Course</h5>
    <table id="table">
    <tr>
      <th style="width: 10%">ID</th>
      <th style="width: 10%">Name</th>
      <th style="width: 10%">Participant</th>
      <th style="width: 10%">Phone</th>
      <th style="width: 10%">Email</th>
      <th style="width: 10%">Time</th>
      <th style="width: 10%">Option</th>
      <th style="width: 10%">Payment</th>
    </tr>
    </table>
	{% if line2 %}
	<table id="table">
		{% for i in line2 %}
		<tr>
		<td style="width: 10%">{{ i.id }}</td>
		<td style="width: 10%">{{ i.Name }}</td>
    <td style="width: 10%">{{ i.Part }}</td>
		<td style="width: 10%">{{ i.Phone }}</td>
		<td style="width: 10%">{{ i.Email }}</td>
		<td style="width: 10%">{{ i.Time }}</td>
		<td style="width: 10%">{{ i.Option }}</td>
		<td style="width: 10%">{{ i.Payment }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
  <br>
  <h5 style="text-align: center;">Original Equipment Manufacturer</h5>
    <table id="table">
    <tr>
      <th style="width: 10%">ID</th>
      <th style="width: 10%">Name</th>
      <th style="width: 10%">Phone</th>
      <th style="width: 10%">Email</th>
      <th style="width: 10%">Product</th>
      <th style="width: 10%">PeferPrice</th>
      <th style="width: 10%">Option</th>
    </tr>
    </table>
  {% if line %}
  <table id="table">
    {% for i in line3 %}
    <tr>
    <td style="width: 10%">{{ i.id }}</td>
    <td style="width: 10%">{{ i.Name }}</td>
    <td style="width: 10%">{{ i.Phone }}</td>
    <td style="width: 10%">{{ i.Email }}</td>
    <td style="width: 10%">{{ i.Pname }}</td>
    <td style="width: 10%">{{ i.Price }}</td>
    <td style="width: 10%">{{ i.Option }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</body>
</html>