{% extends 'Course.html' %}

{% block head %}
<title>Course Detail</title>
<style>
      body{
        {{bg}};
        background-repeat: no-repeat;
        background-size: auto;
      }
     </style>
{% endblock %}

{% block body %}
<!------------------------Card Border--------------------------->

<!-------------------------------------------------------------->
<br>
<div class="row">
  <div class="col-sm-12">
<div class="card border-info mb-3" style="max-width: 50rem;">
	<div class="card-header"><h2>Junior Course</h2></div>
	<div class="card-body">
	<h4 style="color: black">[Professional Level]</h4>
	<p style="color: black">Learn the polishing techniques in detail,</p>
	<p style="color: black">Airbrush application, highlights and shadows,</p>
	<p style="color: black">Make the model a professional level.</p>
	<p style="color: black">Suitable for friends who have a basic understanding of the model.</p>
	<p style="color: black">4 halls - 1.5 hours per class</p>
	<h4 style="color: black">Time:</h4>
	<p style="color: black">Every Thursday 7:30-9:00pm</p>
	<p style="color: black">Every Friday 7:30-9:00pm</p>
	<p style="color: black">/ Every Saturday 1:00-2:30pm</p>
	<p style="color: black">/ Every Saturday 4:00-5:30pm</p>
	<p style="color: black">Tuition: $980 Student Price $820 (full time)</p>
	<p style="color: black">The total number of two-person peers is reduced by $100</p>
	</div>
</div>
	</div>
</div>
<br>

<div class="row">
  <div class="col-sm-5">
  </div>
  <div class="col-sm-7">
<div class="card border-info mb-3" style="max-width: 50rem; text-align: right;">
	<div class="card-header"><h2>Senior Course</h2></div>
	<div class="card-body">
	<h4 style="color: black">[Retrofit Level]</h4>
	<p style="color: black">Teaching the overall body shape, tonic processing,</p>
	<p style="color: black">Incision lines and so on deepen the transformation skills,</p>
	<p style="color: black">let the professional-level works further sublimate.</p>
	<p style="color: black">Create truly unique model works,</p>
	<p style="color: black">Suitable for friends who have a certain understanding of the model.</p>
	<p style="color: black">4 halls, 1.5 hours each</p>
	<h4 style="color: black">Time:</h4>
	<p style="color: black">Every Tuesday 7:30pm -9:00pm</p>
	<p style="color: black">Every Saturday 11:00am-12:30pm</p>
	<p style="color: black">Tuition: $1040 student price $980 (full-time)</p>
	<p style="color: black">The total number of two-person peers is reduced by $100</p>

	</div>
</div>
	</div>
</div>
{% endblock %}
