{% extends 'Course.html' %}

{% block head %}
<title>Login</title>
<style>
  body {
    background-color: #8e9299;
    text-align: center;
}
</style>
{% endblock %}

{% block body %}
<script>
  if (window.location.pathname == "/Login") {window.alert('Incorrect Password or UserName');}
</script>
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="successLable" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="success">Incorrect Password or UserName</h5>
    <button type="button" class="close" data-dismiss="modal" aria-lable="Close" id="bthidden">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  </div>
  </div>
</div>

	<div class="container">
	 <form action="/Login" method="POST" style="width:30%;margin: auto;">
      <h3 style= "color: white">Login</h3>
    <div class="form-group">
      <label for="username" style="color: white">User Name:</label>
      <input type="text" class="form-control" placeholder="Enter Name" id="username" name="username">
    </div>
    <br>

    <div class="form-group">
      <label for="password" style="color: white">Password:</label>
      <input type="Password" class="form-control" placeholder="Enter Password" id="password" name="password">
    </div>
  <fieldset>
    <button type="submit" class="btn btn-primary" style="margin: auto;">Login</button>
  </fieldset>
  </form>
</div>

<br>

  <button class="btn btn-primary" data-toggle="modal" data-target="#m1">Forget Password</button>
  <div class="modal" id="m1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Forget Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/Forget" method="POST">
          <div class="form-group">
      <label for="username" style="color: white">UserName:</label>
      <input type="text" class="form-control" placeholder="Enter UserName" id="username" name="name">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}