{% extends 'Course.html' %}

{% block head %}
<title>Senior Course</title>
<style>
      body{
        {{bg}};
        background-repeat: no-repeat;
        background-size: 100% 120%;
      }
     </style>
{% endblock %}

{% block body %}
<!---------------------------Modal------------------------------->
<script>
  if (window.location.pathname == "/seniorform") {window.alert('Thank You for sign up');}
</script>
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="successLable" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="success">Thank You for sign up</h5>
    <button type="button" class="close" data-dismiss="modal" aria-lable="Close" id="bthidden">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  </div>
  </div>
</div>
<!---------------------------Form------------------------------->
  <div class="row">
  <div class="col-sm-12">
    
    <form action="/seniorform" method="POST" style="width:70%;margin: auto;">
      <h3 style= "color: white">Senior Form</h3>
    <div class="form-group">
      <label for="username" style="color: white">UserName:</label>
      <input style="opacity: 0.5" type="text" class="form-control" placeholder="Enter UserName" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="part" style="color: white">Participant:</label>
      <input style="opacity: 0.5" type="text" class="form-control" placeholder="Enter Name" id="part" name="part">
    </div>
    <div class="form-group">
      <label for="phoneno" style="color: white">PhoneNo:</label>
      <input style="opacity: 0.5" type="text" class="form-control" placeholder="Enter PhoneNo" id="phoneno" name="phoneno">
    </div>
    <div class="form-group">
      <label for="Email1" style="color: white">Email address</label>
      <input style="opacity: 0.5" type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email" name="Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
      <div class="form-group">
      <label for="Date" style="color: white">Select Date Time</label>
      <select style="opacity: 0.5" class="form-control" id="Date" name="Date">
        <option></option>
        <option>Tuesday 7:30pm -9:00pm</option>
        <option>Saturday 11:00am-12:30pm</option>
      </select>
    </div>
       <div class="form-group">
      <label for="Option" style="color: white">Other Option</label>
      <textarea style="opacity: 0.5" class="form-control" id="Option" rows="3" name="Option"></textarea>
    </div>
    <div class="form-group">
      <label for="Date" style="color: white">Payment</label>
      <select style="opacity: 0.5" class="form-control" id="Pay" name="Payment">
        <option>Select Payment</option>
        <option>Pay for Cash</option>
        <option>Online Payment</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
{% endblock %}